// Colors
$white:         #ffffff;
$black:         #000000;

$neutral-700:       #393A3A;
$neutral-500:       #575959;
$neutral-300:       #F4F4F4;

  // gray
$lightgray:     #EDEDED;
$gray:          #C1C1C1;
$midgray:       #939393;
$darkgray:      #757575;
$exdarkgray:    #3D3D3D;

  // base
$base:          #0B351D;    $baseHover:     #0B351D;

$red:           #D92323;
$blue:          #2981D9;
$green:         #4CAF50;
$gold:          #FFC700;
$warning:       #E28229;
$brown:       #9E7B56;
$lightbrown:       #E3CEA3;
$dark:       #2B2B2B;
$dark-txt:       #2D2D2D;
$lightgreen:       #9FC460;



// Fonts
$mainFont: "Cera Pro", sans-serif;

// Fonts size
$xxl-Fs: 3.6rem;
$xl-Fs: 2.4rem;
$l-Fs: 2.1rem;
$m-Fs: 1.8rem;
$mainFs: 1.6rem;
$s-Fs: 1.4rem;
$xs-Fs: 1.3rem;
$xxs-Fs: 1.2rem;

// Block size


