<section class="ndv">
    <h1 class="v-hidden">Главная страница</h1>
    <div class="ndv__block">
        <div class="ndv__sidebar">
            <div class="ndv__sidebar-content">
                <ul class="header__mob-menu-list">
                    <li class="header__mob-menu-item">
                        <a href="" class="header__mob-menu-link">О ПРОЕКТЕ</a>
                    </li>
                    <li class="header__mob-menu-item">
                        <a href="" class="header__mob-menu-link">ВЫБРАТЬ КВАРТИРУ</a>
                    </li>
                    <li class="header__mob-menu-item">
                        <a href="" class="header__mob-menu-link">УСЛОВИЯ ПОКУПКИ</a>
                    </li>
                    <li class="header__mob-menu-item">
                        <a href="" class="header__mob-menu-link">РАСПОЛОЖЕНИЕ</a>
                    </li>
                    <li class="header__mob-menu-item">
                        <a href="" class="header__mob-menu-link">ДОКУМЕНТАЦИЯ</a>
                    </li>
                    <li class="header__mob-menu-item">
                        <a href="" class="header__mob-menu-link">НОВОСТИ</a>
                    </li>
                    <li class="header__mob-menu-item">
                        <a href="" class="header__mob-menu-link">КОНТАКТЫ</a>
                    </li>
                </ul>

                <div class="header__mob-menu-info">
                    <div class="header__mob-menu-info-top">
                        <p
                          class="header__mob-menu-info-txt header__mob-menu-info-txt--lh header__mob-menu-info-txt--top-icon-01">
                            камеры онлайн</p>
                        <p class="header__mob-menu-info-txt header__mob-menu-info-txt--top-icon-02">виртуальный тур</p>
                    </div>
                    <div class="header__mob-menu-info-phone">
                        <p
                          class="header__mob-menu-info-txt header__mob-menu-info-txt--xl-sz header__mob-menu-info-txt--color-lbr">
                            8 495 988 44 22</p>
                        <p class="header__mob-menu-info-txt header__mob-menu-info-txt--bold">Заказать звонок</p>
                    </div>
                    <div class="header__mob-menu-info-adr">
                        <p
                          class="header__mob-menu-info-txt header__mob-menu-info-txt--bold header__mob-menu-info-txt--color-br">
                            Москва,</p>
                        <p
                          class="header__mob-menu-info-txt header__mob-menu-info-txt--bold header__mob-menu-info-txt--color-br">
                            Лосиноостровская улица, вл45</p>
                    </div>

                </div>

            </div>
        </div>
        <article class="ndv__title-block">
            <h2 class="ndv__title">Старт продаж</h2>
            <p class="ndv__txt">Квартиры в Москве</p>
            <p class="ndv__txt ndv__txt--bold ndv__txt--sz ndv__txt--lh">от 3,4 млн руб.</p>
            <p class="ndv__txt">с отделкой</p>
            <p class="ndv__adr-title ndv__adr-title--tablet">Москва, Лосиноостровская улица, вл45</p>
        </article>
    </div>

    <footer class="ndv__footer">
        <button class="ndv__footer-btn ndv__footer-btn--icon">позвонить</button>
        <button class="ndv__footer-btn ndv__footer-btn--icon-ring">оставить заявку</button>
    </footer>
</section>

<section class="ndv__section ndv__section--adr">
    <h2 class="v-hidden">Наш адрес</h2>
    <div class="ndv__section-wrapper">
        <p class="ndv__adr-title ndv__adr-title--mob">Москва, Лосиноостровская улица, вл45</p>
        <ul class="ndv__adr-list">
            <li class="ndv__adr-item">
                <p class="ndv__adr-item-txt ndv__adr-item-txt--color">12 минут</p>
                <p class="ndv__adr-item-txt">ВДНХ</p>
            </li>
            <li class="ndv__adr-item ndv__adr-item--pink">
                <p class="ndv__adr-item-txt ndv__adr-item-txt--color">12 минут</p>
                <p class="ndv__adr-item-txt">Ростокино</p>
            </li>
            <li class="ndv__adr-item">
                <p class="ndv__adr-item-txt ndv__adr-item-txt--color">15 минут</p>
                <p class="ndv__adr-item-txt">Ботанический сад</p>
            </li>
        </ul>
    </div>
</section>

<section class="ndv__section ndv__section--pr">
    <h2 class="v-hidden">Промо</h2>
    <div class="ndv__pr-block  ndv__pr-block--bg">

    </div>
    <div class="ndv__pr-block ndv__pr-block--decor">
        <div class="ndv__pr-txt-wrapper">
            <p class="ndv__pr-txt">Жизнь на природе с преимуществами большого города</p>
        </div>

    </div>
</section>



<section class="ndv__section ndv__section--descr">
    <h2 class="v-hidden">Описание</h2>
    <p class="ndv__descr-txt ndv__descr-txt--bold ndv__descr-txt--mb">«Сказочный лес» — это уникальный проект
        комфорт-класса для тех, кто
        хотел бы жить на
        природе, но при этом не потерять массу преимуществ большого города.</p>
    <p class="ndv__descr-txt">Жилой комплекс расположен в Северо-Восточном административном округе в окружении самых
        живописных мест Национального парка «Лосиный Остров». Он представляет собой четыре корпуса переменной этажности – высотой от 11 до 26 этажей, с подземным паркингом, детским садом, фитнес-центром с бассейном и отдельно стоящей общеобразовательной школой. Первые этажи домов отданы под торговые и офисные помещения. Для будущих жителей комплекса будет создана вся необходимая социальная и торговая инфраструктура. Завершение строительства всех корпусов ЖК «Сказочный лес» намечено на 2 квартал 2022 года.</p>
</section>


<section class="ndv__section">
    <h2 class="v-hidden">Галлерея</h2>
    <ul class="ndv__gl-list">
        <li class="ndv__gl-item ndv__gl-item--bg-01">
            <div class="ndv__gl-wrapper">
                <p class="ndv__gl-txt">Квартиры с отделкой</p>
                <p class="ndv__gl-txt">От 105 т.р. <span>за кв/м</span></p>
            </div>
        </li>
        <li class="ndv__gl-item ndv__gl-item--bg-02">
            <div class="ndv__gl-wrapper">
                <p class="ndv__gl-txt">Экологически <br>чистый район</p>
            </div>
        </li>
        <li class="ndv__gl-item ndv__gl-item--bg-03">
            <div class="ndv__gl-wrapper">
                <p class="ndv__gl-txt">Двор без машин</p>
            </div>
        </li>
        <li class="ndv__gl-item ndv__gl-item--bg-04">
            <div class="ndv__gl-wrapper">
                <p class="ndv__gl-txt">Многоуровневая <br> система безопасности</p>
            </div>
        </li>
        <li class="ndv__gl-item ndv__gl-item--bg-05">
            <div class="ndv__gl-wrapper">
                <p class="ndv__gl-txt">Собственная школа <br> и детский сад</p>
            </div>
        </li>
    </ul>
</section>


<section class="ndv__section ndv__section--spec">
    <h2 class="v-hidden">Особенности</h2>
    <ul class="ndv__spec-list">
        <li class="ndv__spec-item ndv__spec-item--icon-01">
            <p class="ndv__spec-item-txt ndv__spec-item-txt--title">Срок сдачи</p>
            <p class="ndv__spec-item-txt">IV кв. 2021г</p>
        </li>
        <li class="ndv__spec-item ndv__spec-item--icon-02">
            <p class="ndv__spec-item-txt ndv__spec-item-txt--title">Класс ЖК</p>
            <p class="ndv__spec-item-txt">Комфорт</p>
        </li>
        <li class="ndv__spec-item ndv__spec-item--icon-03">
            <p class="ndv__spec-item-txt ndv__spec-item-txt--title">Этажность</p>
            <p class="ndv__spec-item-txt">16-26</p>
        </li>
        <li class="ndv__spec-item ndv__spec-item--icon-04">
            <p class="ndv__spec-item-txt ndv__spec-item-txt--title">Паркинг</p>
            <p class="ndv__spec-item-txt">подземный</p>
        </li>
    </ul>
</section>
